{% extends "index.html" %}
{% load static %}


{% block titulo %}

{% if request.user.is_authenticated %}

Bienvenido {{ user.username }} a Paso a Paso!

{% else %}

¡¡Bienvenido a Paso a Paso!!

{% endif %}

{% endblock %}

{% block contenido %}

 
{{ mensaje }}

<h1>Hola!</h1>
<p>Aqui vas a podes leer y subir instrucciones de cualquier tema! Puede ser recetas de cocina, Como armar algo, Trucos de Juego etc. </p>
<p>Podes Registrarte O Loguearte para subir tus instrucciones!</p>



{% endblock %}