{% extends "index.html" %}
{% load static %}


{% block titulo %}
Aqui Vas a Ver Todos Los Blogs
{% endblock %}

{% block contenido %}

    
<h1>Blogs</h1>

<ul>
{% for blog in blogs %}

    <li><a href="{% url "DetalleBlog" blog.pk %}"> 
    
    {% csrf_token %}
    {{ form }}
    {{ blog.titulo | safe}} </a> -
    {{ blog.autor }} 
    {{ blog.fecha }} <br/>
 
    <p>
    {% if user.is_authenticated %}
    <a href="{% url "ActualizarBlog" blog.id %}">Editar</a>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url "EliminarBlog" blog.id %}">Eliminar</a>
    {% endif %}
    </p>
    <hr>

    {% endfor %}

</ul>

{% endblock %}