{% extends "index.html" %}
{% load static %}

{% block titulo %}
Perfil
{% endblock %}

{% block contenido %}


<h2>Informacion del usuario</h2>

<a class="nav-link" href="{% url 'Actualizar' %}"}>Actualizar Usuario</a></li>
    


<ul>
    <li>User: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Nombre: {{user.first_name}}</li>
    <li>Apellido: {{user.last_name}}</li>

</ul>

<br/>
<h2>Informacion del perfil</h2>
<div class="post-preview">
    <table>
        <p>Descripcion: {{ descripcion }}</p>
        <p>web: {{ web }}</p>
        <br>
        <p><small>Aqui Puede Editar Perfil</small></p>
        <div>
            <a class="btn btn-primary text-uppercase" href="{% url 'EditarPerfil' %}">Editar perfil</a>
        </div>


{% endblock %}