{% extends "index.html" %}
{% load static %}

{% block titulo %}
Perfil
<br/>
{{ mensaje }}
{% endblock %}

{% block contenido %}


<h2>Informacion del usuario</h2>

<a class="nav-link" href="{% url 'Actualizar' %}"}>Actualizar Usuario</a></li>
    

{% if avatar %}
<img src="{{ avatar }}" alt="" width="150px" height="100px" class="img-thumbnail">
{% else %}
{% endif %}
<ul>
    <li>User: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Nombre: {{user.first_name}}</li>
    <li>Apellido: {{user.last_name}}</li>

</ul>

<a class="btn btn-primary text-uppercase" href="{% url 'send_message' %}">Enviar Mensaje</a>
<a class="btn btn-primary text-uppercase" href="{% url 'view_messages' %}">Leer Mensajes</a>


<br/>
<h2>Informacion del perfil</h2>
<div class="post-preview">
    <table>
        <p>Descripcion: {{ descripcion }}</p>
        <p>web: {{ web }}</p>
        <br>
        <p><small>Aqui Puede Editar Perfil</small></p>
        <div>
            <a class="btn btn-primary text-uppercase" href="{% url 'EditarPerfil' %}">Editar perfil</a>
        </div>


{% endblock %}