{% extends "index.html" %}
{% load static %}

{% block titulo %}
<h1> Hola, bienvenido a mi primer proyecto de Pyhton-Django</h1>
{% endblock %}

{% block contenido %}

<p> Soy Juan Ignacio Torrillas, Argentino. Actualmente estudiante de Lic. en Ciencia y Tecnologia de Los Alimentos.</p>
<p>Me dio mucha curiosidad la programacion entonces decidi intentar con el curso de CoderHouse, del cual me llevo varios temas/ideas.</p>
<p>Con ganas de ver mas cosas de Python como por ejemplo bases de datos e inteligencia artificial, desarrollo de apps entre otras cosas(no tanto de django y desarrollo web)</p>
<br/>

{% endblock %}