{% extends "index.html" %}
{% load static %}


{% block contenido %}
<h1> Hola, bienvenido a mi primer proyecto de Pyhton-Django</h1>
<p> Soy Juan Ignacio Torrillas, Argentino. Actualmente estudiante de Lic. en Ciencia y Tecnologia de Los Alimentos.</p>
<p>Me dio mucha curiosidad la programacion entonces decidi intentar con el curso de CoderHouse, con ganas de ver mas cosas de Python como por ejemplo bases de datos(no tanto de django, la verdad)</p>
<br/>
<p>La idea del blog surgio por la frase del profesor, de como hacer/aprender las cosas paso a paso para no marearse y poder luego entender el todo.</p>
{% endblock %}